Repository KTB-Study/ktb-2-1-11-study, pull requests merged in 2024-11, with the labels that each got.

#1 Setting: 1주차 질문 리스트 정리
  Computer Science/Computer Architecture/Computer Science.md
  Computer Science/Data Structure/Data Structure.md
  Computer Science/Database/Database.md
  Computer Science/Network/Network.md
  Computer Science/Operation System/Operation System.md
  Computer Science/Software Engineering/Software Engineering.md
  Design Pattern/Design Pattern.md
  Language/C++.md
  Language/C.md
  Language/Java.md
  Language/JavaScript.md
  Language/Python.md
  Linux/Linux.md
  Technology/Big Data/Big Data.md
  Technology/news/news.md
  Web/Spring/Spring.md
Labels: Setting

#2 Docs: Issue 템플릿 수정
  .github/pull_request_template.md
Labels: Setting

#3 mason 2주차 질문 정리
  Computer Science/Database/Database.md
Labels: Computer Science

#5 luis 2주차 질문 정리
  Computer Science/Network/Network.md
Labels: Computer Science

#6 sando 2주차 질문 정리
  Web/Spring/Spring.md
Labels: Web

#7 2주차 victoria 질문 정리
  Computer Science/Operation System/Operation System.md
Labels: Computer Science
