Repository KTB-Study/ktb-2-1-11-study, pull requests merged in 2024-12, with the labels that each got.

#8 victoria 3주차 질문 정리
  Computer Science/Database/Database.md
Labels: Computer Science

#9 sando 3주차 질문 정리
  Computer Science/Operation System/Operation System.md
Labels: Computer Science

#11 3주차 luis 문제 제출
  Web/Spring/Spring.md
Labels: Web

#10 3주차 mason.park 문제 제출
  Computer Science/Network/Network.md
Labels: Computer Science

#14 sando 4주차 질문 정리
  Web/Spring/Spring.md
Labels: Web

#13 luis 4주차 질문정리
  Linux/Linux.md
Labels: Linux

#12 mason 4주차 질문정리
  Computer Science/Operation System/Operation System.md
Labels: Computer Science
